<template>
  <div>
    <div class='column has-text-centered is-8 is-offset-2'>
      <h2 class='title is-2 m-5'>Membres</h2>
      <div class="membre columns is-vcentered" v-for="member in $store.state.members" :key="member.id">
        <router-link :to="{name: 'Membre', params: {id: member.id} }" class='box m-2 column is-11 has-text-left columns is-vcentered'>
          <img class="column is-3" :src="'https://eu.ui-avatars.com/api/?rounded=true&name='+member.fullname.replace(' ', '+')" style="width:65px;" />
          <h3 class="column is-9">{{member.fullname}}</h3>
        </router-link>
        <a class="column is-1 button is-medium is-danger" @click="openModal(member.id)">
          <img style="width: 25px;" src="../assets/poubelle.png" />
        </a>
      </div>
    </div>
    <!-- Fenêtre modale de suppression d'un membre -->
    <div id="delete-modal" class="modal" :class="{ 'is-active': modal }">
      <div class="modal-background"></div>
      <div class="modal-content box">
        Êtes-vous sûr de vouloir supprimer ce membre ?
        <div class="mt-3 buttons is-centered"> 
          <button class="button is-primary is-warning" @click="deleteMember()">Oui</button>
          <button class="button is-primary is-warning" @click="modal = false">Non</button>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close" @click="modal = false"></button>
    </div>
  </div>
</template>

<script>

export default {
  name: "Membres",
  data() {
    return {
      modal: false,
      memberId: null
    }
  },
  mounted() {

  },
  methods: {
    //Supprime un membre avec son id passé en paramètre
    deleteMember(){
      this.$api
      .delete(`members/${this.memberId}`)
      .then((response) => {
        //On actualise la liste des membres dans le store
        this.getMembers();
      })
      .catch((error) => {
        console.log("Une erreur est survenue lors de la suppression du membre : ", error);
      });
      this.modal = false;
    },
    openModal(id) {
      this.modal = true;
      this.memberId = id;
    },
    //récupère la liste des membres (en asynchrone car après suppression de membre)
    async getMembers() {
      await this.$api
      .get(`members`)
      .then((response) => {
        let refresh_members = response.data;
        this.$store.commit("setMembers", refresh_members);
      })
      .catch((error) => {
        console.log("Une erreur est survenue lors de la récupération des membres : ", error);
      });
    }
  }
};
</script>